@font-face {
    font-family: "CourierCode";
    src: url("CourierCode-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "FreeSerif";
    src: url("FreeSerif.ttf");
}

.card {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;

    /*
        Nominal poker sized card dimensions
        http://en.wikipedia.org/wiki/Game_Card#Sizes_and_weight

        Set aspect ratio
        http://alistapart.com/article/creating-intrinsic-ratios-for-video
    */
    padding-bottom: 138.58%;
    height: 0;

    transform-style: preserve-3d;
    transition: all 0.5s ease-out 0s;
}

.card figure {
    /*
        Normalize margin
        http://gabrieleromanato.name/css-default-styles-of-the-figure-element/
    */
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    border-radius: 5%/3%;

    cursor: pointer;
}

.card .front {
    text-align: center;
    display: table;

    /* Set maximum contrast for card values */
    color: black;
    background-color: white;

    /* Set modern font with large weight for better visibility */
    font-family: "CourierCode", "FreeSerif";
    font-weight: bold;

    -moz-user-select: none;
}

.card .front span {
    height: 100%;
    width: 100%;

    /*
        Center vertically
        http://www.vanseodesign.com/css/vertical-centering/
    */
    display: table-cell;
    vertical-align: middle;

    font-size: 10vw;
}

.card .back {
    font-size: 0;
    transform: rotateY(180deg);
    background-color: #A9CE00;
}

.card .back object {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}

.card .back object.green-stripes {
    border: 3px solid #FFFFFF;
}

.card .back object.king-solid {
    border: 1px solid #FFFFFF;
}

.card .back object.king-limpid {
    border: 0 none;
}

.card.flipped {
    transform: scale(3) rotateY(180deg);

    /*
        HACK This very high value keeps the flipped card above overlay long
        enough.
    */
    z-index: 2147483647;
}

.card.flipped.revealed {
    transform: scale(3) rotateY(0deg);
}