@keyframes fadeIn {
    from { opacity: 0; visibility: hidden; }
    to { opacity: 1; visibility: visible; }
}
@keyframes fadeOut {
    from { opacity: 1; visibility: visible; }
    to { opacity: 0; visibility: hidden; }
}

#overlay {
    position: fixed; /* http://tympanus.net/codrops/2013/11/07/css-overlay-techniques/ */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 101; /* just above the toolbar and way above the cards */
    visibility: hidden;
}

#overlay.show {
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

#overlay.hide {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}
