html {
    font-size: 10px;
}

[role="application"] {
    margin: 0;
    background-color: #000000;
    background-image: url("../images/Carbon_fiber.svg");
    overflow: hidden;
}

[role="main"] {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1vw;
    margin: 0;
}

.card-slot {
    width: 33.33%;
    float: left;
    padding: 1%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[role="toolbar"] button:before {
    position: static;
}

[role="toolbar"] {
    transition: height 0.3s ease;
}

[role="toolbar"][aria-hidden="true"] {
    height: 0;
}

[role="toolbar"] li {
    margin: 0;
}

[role="toolbar"] button {
    line-height: 4rem;
    position: static;
    text-align: center;
    color: #FFFFFF;
    text-shadow: none;
}

form {
    padding: 1.5rem 1.5rem 1rem;
}

.gaia-icon:before {
    vertical-align: middle;
}
