.view {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 101;
    transition: all 0.3s ease-in;
}

.view[aria-hidden="true"] {
    top: 100%;
    height: 0;
}

.view-body {
    position: relative;
    height: calc(100% - 5rem);
    background-color: #FFFFFF;
}