/**
 * Table View
 * line height = 6rem, border included
 */

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

ul li {
    -moz-box-sizing: border-box;
    position: relative;
    min-height: 6rem;
    margin: 0 1.5rem;
    border-bottom: 0.1rem solid #e6e6e3;
    color: #000;
}

ul li:last-child {
    border-bottom: none;
}

ul li.sound-setting {
    min-height: 7.9rem;
}

ul li label:not([for]) {
    background: none;
}

ul li > a,
ul li > span,
ul li > label > span {
    display: block;
    text-decoration: none;
    outline: 0;
    color: #000;
    -moz-box-sizing: border-box;
    height: 6rem;
    font-size: 1.9rem;
    line-height: 6rem;
    padding: 0 3rem;
    margin: 0 -1.5rem;
}

ul li.active a,
ul li.active span,
ul li:not([aria-disabled="true"]) > small + a:active,
ul li:not([aria-disabled="true"]) > a[href]:active,
ul li:not([aria-disabled="true"]) > small + a:focus,
ul li:not([aria-disabled="true"]) > a[href]:focus {
    background-color: #b2f2ff;
    color: #222;
}

ul li[aria-disabled="true"] > a {
    color: #797e80;
    opacity: 0.6;
    pointer-events: none;
}

ul > li > progress {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul > li > progress + span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 1rem;
    color: #505b5b;
    font-size: 1.4rem;
}

/* description + value on the same line */
ul li > a span {
    position: absolute;
    right: 1.5rem;
    color: #505859;
}

/* text ellipsis */
ul li > *, ul li > label > * {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* sublines */
ul li > small, ul li > label > small {
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    top: 50%;
    padding-top: 0.4rem;
    font-size: 1.4rem;
    color: #505859;
    /* click/tap events should be caught by the <a> element below the <small> */
    pointer-events: none;
}

ul li > label.pack-checkbox > small,
ul li > label.pack-radio > small {
    right: 6.1rem;
}

ul li > label.pack-switch > small {
    right: 9rem;
}

/* required for empty elements like Bluetooth */
ul li small:not(:empty) + a,
ul li small:not(:empty) + span {
    line-height: 4.4rem;
    padding-bottom: 0.1rem; /* Bug 903438 */
}


/******************************************************************************
 * Boolean inputs
 */

ul li button,
ul li a[role="button"] {
    position: relative;
    top: 1.1rem;
    width: 100%;
    margin-bottom: 1.2rem;
}

/* custom styles for boolean inputs (see /shared/style/switches.css) */
ul li label {
    text-transform: none;
}

ul li > label:not([for]),
ul li > label.pack-checkbox,
ul li > label.pack-radio,
ul li > label.pack-switch {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: visible;
}

ul li > label.pack-checkbox > span:after,
ul li > label.pack-radio > span:after,
ul li > label.pack-switch > input ~ span:after {
    left: auto;
    right: 0;
}

ul li > label.pack-checkbox > span {
    padding-right: 6.1rem;
}

ul li > label.pack-radio ~ p {
    padding-right: 3rem;
}

ul li > label.pack-switch > span {
    padding-right: 9rem;
}

ul li > label.pack-radio > span {
    padding-right: 5.9rem;
}

ul li > label.pack-checkbox:active > span,
ul li > label.pack-radio:active > span,
ul li > label.pack-switch:active > span {
    background-color: #b2f2ff;
    color: #222;
}

/******************************************************************************
 * Field inputs
 */

ul li p {
    font-size: 1.9rem;
    line-height: 1.9rem;
    font-weight: 400;
    margin: 0;
    padding: 1.5rem 1.5rem 1rem;
}

ul li p + label:not([for]) {
    top: 2.5rem;
    height: calc(100% - 2.5rem);
}

ul li p + input[type="text"],
ul li p + input[type="number"],
ul li p + input[type="tel"],
ul li p + input[type="password"] {
    width: 100%;
    margin-bottom: 1.5rem;
}


/******************************************************************************
 * Range inputs
 */

input[type=range] {
    -moz-appearance: none;
    border: none;
    background: none;
}

input[type=range]:-moz-focusring {
    outline: none;
}

ul li > label input[type="range"] {
    position: relative;
    top: calc(50% - 1.5rem);
    left: 5rem;
    right: 7rem;
    height: 3rem;
    width: calc(100% - 15rem);
}

input[type=range]::-moz-range-track {
    height: 0.1rem;
    background-color: #7e7e7e;
}

input[type=range]::-moz-range-progress {
    height: 0.3rem;
    background-color: #01c5ed;
}

input[type=range]::-moz-range-thumb {
    width: 2.8rem;
    height: 2.8rem;
    border: solid 0.1rem transparent;
    border-radius: 3rem;
    transition: border 0.15s ease;
    -moz-box-sizing: border-box;
    background: url(images/range_thumb.png) no-repeat 50% 50%;
    background-size: 2.8rem 2.8rem;
}

input[type=range]:active::-moz-range-thumb {
    border: solid 0.4rem #01c5ed;
}

ul li.sound-setting > label input[type="range"] {
    margin: 0 auto;
    width: calc(100% - 3rem);
    left: 1.5rem;
}

ul li#brightness-manual > label input[type="range"] {
    margin: 0 auto;
    width: calc(100% - 10rem);
    display: inline;
}

/******************************************************************************
 * Select boxes
 */
.button.icon-dialog select {
    border: none;
    background: transparent;
    font-size: 1.7rem;
}

/******************************************************************************
 * Progress, Meter
 */

ul > li progress[value] {
    display: block;
    width: calc(100% - 3rem);
    height: 3rem;
    margin: 3rem auto;
    background: #e7e7e7;
    border: 0.1rem solid #b6b6b6;
    border-radius: 0.3rem;
}

ul > li progress[value]::-moz-progress-bar {
    margin: 1px;
    height: calc(100% - 0.2rem);
    border-radius: 0.2rem;
    background-color: #82c72c;
}


/******************************************************************************
 * Definition lists
 */

dl > * {
    font-size: 1.7rem;
}

dl dt {
    padding-left: 3rem;
    font-weight: 500;
    border-bottom: 0.1rem solid black;
}

dl dd {
    margin: 0;
    padding: 1rem 3rem;
    border-bottom: 0.1rem solid #e6e6e3; /* same as "ul li" */
}


/******************************************************************************
 * Right-to-Left layout
 */

/* definition lists */
html[dir="rtl"] dl dt {
    padding-left: inherit;
    padding-right: 3rem;
}

/* half-width select boxes */
html[dir="rtl"] ul li span select {
    left: 3rem;
    right: inherit;
}

/* full-width select boxes */
html[dir="rtl"] ul li p + select {
    margin: -1rem 12rem 1rem 3rem;
}

/* boolean inputs */

html[dir="rtl"] ul li button,
html[dir="rtl"] ul li a[role="button"] {
    left: inherit;
    right: 3rem;
}

html[dir="rtl"] ul li > label.pack-checkbox > span:after,
html[dir="rtl"] ul li > label.pack-radio > span:after,
html[dir="rtl"] ul li > label.pack-switch > input ~ span:after {
    left: 9rem; /* XXX we use "right: 3rem" for LTR layouts... */
    right: inherit;
}

html[dir="rtl"] ul li > label.pack-checkbox > span,
html[dir="rtl"] ul li > label.pack-radio > span {
    padding-left: 6.1rem;
    padding-right: 3rem;
}

html[dir="rtl"] ul li > label.pack-switch > span {
    padding-left: 9rem;
    padding-right: 3rem;
}

/* description + value on the same line */
html[dir="rtl"] ul li > a span {
    left: 3rem;
    right: inherit;
}

/* main list items */
html[dir="rtl"] ul li > a,
html[dir="rtl"] ul li > span {
    padding-left: inherit;
    padding-right: 3rem;
}
